@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Dosis:wght@200;300;400;500;600;700;800&display=swap");
:root {
  --primary: #faedcd;
  --accent: #ccd5ae;
  --primary-font: "Cormorant", serif;
}
html {
  scroll-behavior: smooth;
}
* {
  font-family: var(--primary-font);
}
.navigation {
  margin: 0;
  height: 5.5rem;
  background-color: var(--primary);
  color: var(--accent);
}
a,
a:hover {
  text-decoration: none;
  color: #000;
}
#logo {
  width: 5rem;
  margin: 0 2rem;
}
#services h2 {
  border-bottom: 1px solid #333333;
}
.custom-btn{
    background-color: var(--accent);
}
.contact-us-container {
  padding-top: 100px;
}
.food-description li{
    list-style: circle;
}
.about-us-description{
    max-width: 50vw;
}
.form-group {
  margin: 0px;
  height: 45px;
}
.btn {
  font-weight: 400;
}
.nav-container,
nav ul {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav {
  width: 30vw;
  margin: 0 1rem;
}
.nav-list {
  align-items: center;
  height: 100%;
  justify-content: space-around;
}
.dropdown-item {
  font-weight: 600;
}
.nav-list li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

li a {
  font-weight: 600;
  text-decoration: none;
  color: #000;
}
li a:hover {
  color: var(--accent);
}
.nav-mobile-btn span {
  display: block;
  width: 30px;
  height: 2px;
  margin: 6px auto;
  background: var(--accent);
  transition: all 0.6s cubic-bezier(0.25, 0.1, 0.25, 1);
}
.nav-mobile-btn {
  display: none;
  border: none;
  outline: none;
}
.flex {
  display: flex;
}
.center {
  justify-content: center;
}

.nav-mobile-btn:focus,
.nav-mobile-btn:active {
  outline: none !important;
  box-shadow: none;
}
.mobile-menu {
  width: 100vw;
  background-color: var(--primary);
}

.container-image-servizi {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 45%;
  min-width: 300px;
  height: 350px;
}

.food-header-img {
  max-width: 100vw;
  margin: 0;
}
.gallery-food-img {
  min-width: 250px;
}
.breadcrumb {
  background-color: transparent !important;
}
.quote {
  color: #333333;
}
.img-intestazione {
  width: 80%;
  display: block;
  margin: 0 auto;
}
.about-us-link {
  text-decoration: underline;
}
.card-img-top {
  height: 258px;
}

.carousel-caption{
    background-color: #ccd5ae80;
    padding-bottom: 2rem ;
}
@media only screen and (min-width: 798px) {
  .carousel {
    margin: 2rem 20vw;
  }
}
@media only screen and (max-width: 798px) {
  .nav-mobile-btn {
    display: block;
  }
  .nav-list {
    display: none;
  }

  nav {
    display: flex;
    justify-content: flex-end;
  }
}
