@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Dosis:wght@200;300;400;500;600;700;800&display=swap");
:root {
  --primary: #faedcd;
  --accent: #7f0000;
  --title-font: "Cormorant", serif;
  --paragraph-font: "Dosis", sans-serif;
}
html {
    scroll-behavior: smooth;
  }
  
.navigation {
  margin: 0;
  height: 3.5rem;
  background-color: var(--primary);
  color: var(--accent);
}
a, a:hover{
    text-decoration: none;
    color: #000;
}
#services h2 {
    border-bottom: 1px solid #333333;
}
h2,
h3,
h4 {
  font-family: var(--title-font);
}

.contact-us-container {
  padding-top: 100px;
}

.form-group {
  margin: 0px;
  height: 45px;
}
p {
  font-family: var(--paragraph-font);
}
h5 {
  font-family: var(--title-font);
}
.btn {
  font-family: var(--title-font);
  font-weight: 400;
}
.nav-container,
nav ul {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav {
  width: 30vw;
  margin: 0 1rem;
}
.nav-list {
  align-items: center;
  height: 100%;
  justify-content: space-around;
}
.dropdown-item {
  font-family: var(--title-font);
  font-weight: 600;
}
li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

li a {
  font-family: var(--title-font);
  font-weight: 600;
  text-decoration: none;
  color: #000;
}
li a:hover {
  color: var(--accent);
}
.nav-mobile-btn span {
  display: block;
  width: 30px;
  height: 2px;
  margin: 6px auto;
  background: var(--accent);
  transition: all 0.6s cubic-bezier(0.25, 0.1, 0.25, 1);
}
.nav-mobile-btn {
  display: none;
  border: none;
  outline: none;
}
.flex {
  display: flex;
}
.center {
  justify-content: center;
}

.nav-mobile-btn:focus,
.nav-mobile-btn:active {
  outline: none !important;
  box-shadow: none;
}
.mobile-menu {
  width: 100vw;
  background-color: var(--primary);
}

.container-image-servizi {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 45%;
  height: 350px;
}

.quote {
  color: #333333;
}
@media only screen and (min-width: 798px) {
  .carousel {
    margin: 2rem 20vw;
  }
}
@media only screen and (max-width: 798px) {
  .nav-mobile-btn {
    display: block;
  }
  .nav-list {
    display: none;
  }

  nav {
    display: flex;
    justify-content: flex-end;
  }
}
